<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
<h1>CADASTRO</h1>
<form action="/cadastro" method="POST">
    <label for="cademail">Email</label>
    <input type="email" name="cademail" id="cademail" required> <p></p>
    <label for="cadusuario">Usuário</label>
    <input type="text" name="cadusuario" id="cadusuario" required> <p></p>
    <label for="cadsenha">Senha</label>
    <input type="text" name="cadsenha" id="cadsenha" required> <p></p>
<button type="submit">Cadastrar</button>
</form>
</center>
<button onclick="window.location.href='/'" type="button">Voltar</button>
</body>
</html>

